<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div class="home-nav">
            <h1>Cookie Monster's Cookies</h1>
            <div id="nav-bar">
                <a href="/dashboard">Home</a>
                <a href="/checkout">Order</a>
                <a href="/edit_account/{{user.id}}">Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="content">
            <div class="col-1">
                <h2>Your Order</h2>
                <form action="/checkout" method="post">
                    <p>Method: {{cookie.method}}</p>
                    <p>Cookie Dough Base: {{cookie.base}}</p>
                    <p>Mix-in: {{cookie.mixin1}}</p>
                    <p>Quantity: {{cookie.quantity}}</p>
                    <p>Price: ${{cost}}</p>
                    <input type="submit" value="Place Order">
                </form>
            </div>
        </div>
    </div>
</body>
</html>